$typekit-font-url: 'https://use.typekit.net/dme4leu.css';
$font-primary: lato, sans-serif;

$black: #000;
$white: #fff;
$grey: #333f48;
$grey--light: lighten($grey, 20%);
$grey--lightest: lighten($grey, 50%);
$grey--dark: darken($grey, 20%);
$primary-color: #064a89;
$primary-color--light: lighten($primary-color, 20%);
$primary-color--dark: darken($primary-color, 20%);
$secondary-color: #e60012;
$secondary-color--light: lighten($secondary-color, 20%);
$secondary-color--dark: darken($secondary-color, 20%);
$tertiary-color: #007cd5;
$tertiary-color--light: lighten($tertiary-color, 20%);
$tertiary-color--dark: darken($tertiary-color, 20%);
